.top-bar {
  background: image-url("weather.png");
  margin-bottom: 2em;
  padding-bottom: 0;
  padding-top: 1rem;

  .menu {
    background-color: transparent;
  }

  li {
    font-family: 'Ranga', cursive;
    font-size: 1.5em;
  }

  .menu-text {
    font-family: 'Timmana', sans-serif;
    font-size: 3em;
  }
}

.menu-text {
  padding: 0;
}

.flash {
  padding: 1em;
  font-family: Helvetica, sans-serif;
  color: $white;
  font-weight: bold;
}

.notice {
  background: #3B9089;
}

.alert {
  background: $alert-color
}

.success {
  background: $success-color
}

.errors {
  background: $warning-color
}

.avatar {
  height: 90px;
  margin-left: 15px;
  margin-top: -1rem;
}

.username {
  color: $primary-color;
  font-weight: bold;
}
