.meme-image {
  max-height: 70vh;
}

.meme-search {
  color: $primary-color;
}

.search-button {
  font-family: inherit;
}

.rating {
  border: 5px solid $primary-color;
  color: $primary-color;

  p {
    margin: 0;
  }
}
